<domain type='qemu' id='2'>
	<name>{{ name }}</name>
  <uuid>ff9150a5-82b1-45e1-953e-56d10fd9e628</uuid>
  <memory unit='KiB'>8388608</memory>
  <currentMemory unit='KiB'>8388608</currentMemory>
  <vcpu placement='static'>4</vcpu>
  <resource>
    <partition>/machine</partition>
  </resource>
  <os>
    <!-- <type arch='x86' machine='pc'>hvm</type> -->
    <!-- <type>pv</type> -->
    <!-- <type arch='x86' machine='pc'>linux</type> -->
		<!-- <boot dev='hd'/> -->

    <type arch='x86' machine='pc-i440fx-2.0'>hvm</type>
  </os>
  <!-- <features> -->
  <!--   <acpi/> -->
  <!--   <apic/> -->
  <!-- </features> -->
  <!-- <cpu mode='custom' match='exact' check='full'> -->
  <!--   <model fallback='forbid'>Broadwell&#45;IBRS</model> -->
  <!--   <vendor>Intel</vendor> -->
  <!--   <!&#45;&#45; <feature policy='require' name='vme'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='ds'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='acpi'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='ss'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='ht'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='tm'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='pbe'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='dtes64'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='monitor'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='ds_cpl'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='vmx'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='smx'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='est'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='tm2'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='xtpr'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='pdcm'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='dca'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='osxsave'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='f16c'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='rdrand'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='arat'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='tsc_adjust'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='disable' name='intel&#38;#45;pt'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='stibp'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='ssbd'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='xsaveopt'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='pdpe1gb'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='abm'/> &#45;&#45;> -->
  <!--   <!&#45;&#45; <feature policy='require' name='hypervisor'/> &#45;&#45;> -->
  <!-- </cpu> -->
  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>
  <devices>
    <emulator>/usr/bin/qemu-system-i386</emulator>
    <!-- <emulator>/usr/libexec/qemu&#45;kvm</emulator> -->
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ image }}'/>
      <backingStore/>
      <target dev='vda' bus='virtio'/>
      <alias name='virtio-disk0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x06' function='0x0'/>
    </disk>
    <controller type='usb' index='0' model='ich9-ehci1'>
      <alias name='usb'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x7'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci1'>
      <alias name='usb'/>
      <master startport='0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x0' multifunction='on'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci2'>
      <alias name='usb'/>
      <master startport='2'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x1'/>
    </controller>
    <controller type='usb' index='0' model='ich9-uhci3'>
      <alias name='usb'/>
      <master startport='4'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x04' function='0x2'/>
    </controller>
    <controller type='pci' index='0' model='pci-root'>
      <alias name='pci.0'/>
    </controller>
    <controller type='virtio-serial' index='0'>
      <alias name='virtio-serial0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x05' function='0x0'/>
    </controller>
    <interface type='bridge'>
      <source bridge='virbr0'/>
      <model type='virtio'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x03' function='0x0'/>
    </interface>
    <serial type='pty'>
      <source path='/dev/pts/4'/>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
      <alias name='serial0'/>
    </serial>
    <console type='pty' tty='/dev/pts/4'>
      <source path='/dev/pts/4'/>
      <target type='serial' port='0'/>
      <alias name='serial0'/>
    </console>
    <channel type='unix'>
      <source mode='bind' path='/var/lib/libvirt/qemu/channel/target/domain-2-hv00/org.qemu.guest_agent.0'/>
      <target type='virtio' name='org.qemu.guest_agent.0' state='disconnected'/>
      <alias name='channel0'/>
      <address type='virtio-serial' controller='0' bus='0' port='1'/>
    </channel>
    <input type='mouse' bus='ps2'>
      <alias name='input0'/>
    </input>
    <input type='keyboard' bus='ps2'>
      <alias name='input1'/>
    </input>
    <memballoon model='virtio'>
      <alias name='balloon0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x07' function='0x0'/>
    </memballoon>
  </devices>
  <seclabel type='dynamic' model='dac' relabel='yes'>
    <label>+107:+107</label>
    <imagelabel>+107:+107</imagelabel>
  </seclabel>
</domain>
