<network>
  <name>fdk</name>
  <uuid>11111111-1111-1111-1111-111111111111</uuid>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='virbr1' stp='on' delay='0'/>
  <mac address='52:54:00:bb:bb:bb'/>
  <ip address='192.168.133.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.133.100' end='192.168.133.199'/>
      <host mac='52:54:00:11:11:11' ip='192.168.133.11'/>
    </dhcp>
  </ip>
</network>
