all:
  vars:
    ansible_ssh_user: root
    ansible_ssh_pass: root
    ansible_ssh_common_args: >-
      -o StrictHostKeyChecking=no
      -o UserKnownHostsFile=/dev/null
machines:
  hosts:
    ubuntu-2004-amd64:
      ansible_host: 192.168.133.11
      mac: '52:54:00:00:00:11'
      iproute2_version: 5.13.0
      version_kernel: hoge
      frr_repository: https://github.com/FRRouting/frr
      vcpu: 4
      memory: 8388608
